<div class="row">
  <div class="col">
    <h1>Checkers: <%= @game %></h1>
    <h1>Player: <%= @user %></h1>
    <div id="root">
      <p>React app not loaded...</p>
    </div>
  </div>
</div>
    <%# Based on some stuff I found in Nat Tuck's draw game %>
<script>
  window.gameName = "<%= @game %>";
  window.user = "<%= @user %>";
</script>
